form {
    display: flex;
    justify-content: center;
  }
input {
    margin: 0 0.25rem;
    padding: 0.25rem;
    border: 1px solid #333;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 3rem;
    border-radius: 3px;
  }
.special {
    margin-top: 2rem;
    font-size: 2rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .special i {
    font-size: 1rem;
    cursor: pointer;
  }
  .special.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .card {
    height: 200px
  }