<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Add New Product</h1>
            <h3>Release a new product on our platform, and earn money!</h3>
        </div>
        
        <div class="col-md-8 offset-md-2" >
            <form class="needs-validation" novalidate action="add_product" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3">
                <label for="firstName">Product Title</label>
                <input type="text" class="form-control" id="firstName" name="name" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
                </div>
                <div class="col-md-6 mb-3">

                    <label for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" name="price" aria-label="Amount (to the nearest dollar)" required>
                        <div class="invalid-feedback">
                            Please enter a valid cost in USD.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="flair">Flair</label>
                <input type="text" class="form-control" id="flair"  name="flair" placeholder="Flair" required>
                <div class="invalid-feedback" style="width: 100%;">
                    A product flair is required.
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Product Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"  name="desc" rows="3" required></textarea>
              </div>
            <button class="btn btn-primary btn-block" type="submit">Submit Product</button>
            </form>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    </body>
</html>
