<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}
    {% set article0 = "" %}
    {% set article1 = "" %}
    {% set article2 = "" %}
    {% if article == 0 %}
        {% set article0 = "active" %}
    {% elif article == 1 %}
        {% set article1 = "active" %}
    {% elif article == 2 %}
        {% set article2 = "active" %}
    {% endif %}

    <body>
        <div class="container">
          {% if flag %}
                {% with flag=flag %}
                    {% include "components/alert.html" %}
                {% endwith %}
          {% endif %}
            <div class="mt-4 p-5 bg-danger text-white rounded">
                <h1>Investigation Report: Wamazon 2022</h1>
                <h3>Notes I have collected during my investigation of Wamazon</h3>
            </div>
            <div class="row">
            <div class="col-md-6 mx-0">
                <div class="list-group">
                    <a href="/evidence?article=0" class="list-group-item list-group-item-action {{article0}}" aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Article 0: Sellers Favorite Things</h5>
                        <small>15/12/2022</small>
                      </div>
                      <p class="mb-1">After some very invasive investigative work, I have gathered a list of one of the sellers favorite places, colors, numbers and activities as well as their birthday.</p>
                    </a>
                    <a href="/evidence?article=1" class="list-group-item list-group-item-action {{article1}}">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Article 1: PIN Code Mystery</h5>
                        <small>20/12/2022</small>
                      </div>
                      <p class="mb-1">There's a PIN code system on the web app, I only managed to snag this photo before I was escorted out of the building maybe it could be useful.</p>
                    </a>
                    <a href="/evidence?article=2" class="list-group-item list-group-item-action {{article2}}">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Article 2: CTO Routine</h5>
                        <small>22/12/2022</small>
                      </div>
                      <p class="mb-1">After a lengthy night with the CTO disguised as a potential suitor, I discovered he was always logged in and on the front page monitoring top selling products, little bit self-absorbed if you ask me.</p>
                    </a>
                  </div>
            </div>
            <div class="col-md-6">
                <img src="/static/img/article{{ article }}.jpg" class="img-fluid">
            </div>
            </div>
        </div>
    </body>
</html>