<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}
        
        {% if flag %}
            {% with flag=flag %}
            {% include "components/alert.html" %}
            {% endwith %}
        {% endif %}
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Wamazon</h1>
            <h3>Trending Products</h3>
        </div>
        {% block content %}
        <ol class="list-group list-group-numbered">
            {% for data in products %}
                {% with name=data.name, desc=data.desc, flair=data.flair, id=data._id %}
                    {% include "components/top_item.html" %}
                {% endwith %}
            {% endfor %}
          {% endblock content %}
          </ol>
    </div>
    </body>
</html>
