<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}
        <link rel="stylesheet" href="/static/main.css">
        <div class="row">
            <aside class="offset-md-4 col-md-4 my-3">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Key Code</h4>
                        <hr>
                        <p class="text-success text-center">New Pincode Every Two Minutes</p>
                        <p class="text-warning text-center">{{ error_message }}</p>
                        <div>
                            <form>
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                              <input type="password" maxlength="1" />
                            </form>
                          </div>
                    </article>
                    </div>
    </div>

        </div>
        <script type="text/javascript" src="/static/main.js" defer></script>
    </body>
</html>
