<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}
        
        <div class="row">
            <aside class="offset-md-4 col-md-4 my-3">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                        <nav class="nav nav-pills nav-fill">
                            {% if role == 0 %}
                                {% set seller = "active" %}
                                {% set admin = "" %}
                                {% set endpoint = "/auth_seller"%}
                            {% elif role == 1 %}
                                {% set seller = "" %}
                                {% set admin = "active" %}
                                {% set endpoint = "/auth_admin"%}
                            {% endif %}
                            <a class="nav-link {{seller}}" href="/login?role=0">Seller</a>
                            <a class="nav-link {{admin}}" href="/login?role=1">Admin</a>
                          </nav>
                        <hr>
                        <p class="text-success text-center">Pangea's most customer centric company</p>
                        <form action="{{endpoint}}" method="POST">
                        <div class="form-group my-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 
                                    <i class="bi bi-person-fill"></i>
                                </span>
                             </div>
                            <input name="username" class="form-control" placeholder="Email or login" type="username">
                        </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-key"></i>
                                    </span>
                                </div>
                                <input name="password" class="form-control" placeholder="******" type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group d-grid gap-2 my-2">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div> <!-- form-group// -->
                        </form>
                    </article>
                    </div>
    </div>

        </div>
    </body>
</html>
