<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>{{username}} Messages</h1>
            <h3>Messages & Notifications for {{username}}</h3>
        </div>

        {% block content %}
        <div class="accordion" id="accordionExample">
            {% for data in messages %}
                {% with id=data.id, timestamp=data.timestamp, title=data.title, content=data.content %}
                    {% include "components/message.html" %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endblock content %}
    </div>
    </body>
</html>
