<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}

        {% if flag %}
            {% with flag=flag %}
            {% include "components/alert.html" %}
            {% endwith %}
        {% endif %}

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>{{product.name}}</h1>
            <h3>{{product.flair | safe}}</h3>
        </div>
        <div class="row align-items-start">
            <div class="col-6">
                <h3><em>{{ product.price }}$</em></h3>
                <h6><b>Description:</b> {{product.desc}}</h6>
                <h6><b>Number of Orders:</b> {{product.orders}}</h6>
            </div>
            <div class="col-6">
                <h6 class="text-success"><em>IN STOCK</em></h6>
                <h6><b>Quantity:</b> 1 per order</h6>
                <a href="checkout?id={{product._id}}" class="btn btn-success" tabindex="-1" role="button">Buy Now</a>
            </div>
        </div>
        
    </div>
    </body>
</html>