<!DOCTYPE html>
<html>
    
    {% include 'components/head.html' %}

    <body>
        <div class="container">
        {% include 'components/nav.html' %}

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Products</h1>
            <h3>Search</h3>
        </div>
        {% block content %}
        <ul class="list-group">
            {% for data in products %}
                {% with name=data.name, desc=data.desc, flair=data.flair, id=data._id %}
                    {% include "components/item.html" %}
                {% endwith %}
            {% endfor %}
        </ul>
        {% endblock content %}
        <div class="d-grid gap-2 d-md-block mx-auto text-center">
            <a href="products?page={{page - 1}}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">←</a>
            <span>Page {{page}} of {{max}}</span>
            <a href="products?page={{page + 1}}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">→</a>
        </div>
    </div>
    </body>
</html>
