<link rel="stylesheet" href="/static/fireworks.css">
<div class="alert alert-success fade show text-center fixed-top" role="alert" id="flag">
    <strong>{{ flag }}</strong>
</div>
<div class="firework">
</div>
<div class="firework">
</div>
<div class="firework">
</div>
<script type="text/javascript" src="/static/flag.js" defer></script>