<a href="/product?id={{ id }}">
  <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ name }}</div>
        {{ desc }}
      </div>
  </li>
</a>
